
#Data Files
*.dat

#Virtual Environment
venv/

# IDE files
.vscode/
.idea/

#Build Artifacts
build/


#Byte-compiled / optimized / DLL
__pycache__/
*.pyc

#Specific
rx_log.txt
pyscr/scrap.py
*.json

experiments/