*.dat
venv/
.vscode/
.idea/
build/
__pycache__/
*.pyc
rx_log.txt
pyscr/scrap.py
metadata/*.json
data_files/*.json
.pytest_cache
experiments/
src/ofdm.egg-info/
ofdm.egg-info/
remote_EXPERIMENTS/
experiments/