contourpy==1.3.3
cycler==0.12.1
e==1.4.5
fonttools==4.61.1
importlib_resources==6.5.2
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==2.4.2
-e git+ssh://git@github.com/osherlock1/OFDM-Sense.git@a8e9de903e90ba81722f83b0dabffef6aa7702d7#egg=ofdm
packaging==26.0
pillow==12.1.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scipy==1.17.0
setuptools==80.10.2
six==1.17.0
zipp==3.23.0
